
<div class="sidebar">
    <div id="wrapper">
        <ng-include ng-if="user" src="'src/layouts/sidebar.html'"></ng-include>
        <!-- /#page-content-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid orders">
                <h2 class="text-center">All Media</h2>
                <table id="media-list" class="display responsive nowrap table table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Theme</th>
                        <th>Type</th>
                        <th>Extension</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in vm.mediaData.allMedia.media">
                        <td>{{m.name}}</td>
                        <td>{{m.theme}}</td>
                        <td>{{m.type}}</td>
                        <td>{{m.extension}}</td>
                        <td>{{m.created_at}}</td>
                        <td><button class="btn btn-danger btn-sm" ng-click="vm.deleteMedia(m._id)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
                <ul>
                    <li ng-repeat="i in vm.allMediaPages"><span><a class="cursor-pointer" ng-click="vm.getPages($index)">{{$index+1}}</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
