
<div class="sidebar">
    <div id="wrapper">
        <ng-include ng-if="user" src="'src/layouts/sidebar.html'"></ng-include>
        <!-- /#page-content-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid orders">
                <h2 class="text-center">Media</h2>
                <div class="search-form">
                    <form ng-submit="vm.submitMedia()" name="MediaForm">
                        <input name="name" placeholder="Name: " class="form-control" type="text" ng-model="vm.newMedia.name" required>

                        <select ng-model="vm.newMedia.type" ng-change="vm.switchPattern()" name="type" class="form-control">
                            <option>fonts</option>
                            <option>stickers</option>
                        </select>
                        <input name="theme" placeholder="Theme: " class="form-control" type="text"  ng-model="vm.newMedia.theme">
                        <label>Upload Image : <input required type="file" ngf-pattern="{{vm.uploadPattern}}" ngf-select  ng-model="vm.newMedia.media"></label>
                        <button class="btn btn-info btn-lg btn-block" type="submit" ng-disabled="MediaForm.$invalid">Add Media</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
