<div class="sidebar">
    <div id="wrapper">
        <ng-include ng-if="user" src="'src/layouts/sidebar.html'"></ng-include>
        <!-- /#page-content-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid users">
                <div class="search-form">
                    <form name="searchUserForm" class="row">
                        <div class="col col-sm-8">
                            <input type="text" name="userField" placeholder="Search User.." class="form-control" ng-model="vm.userField" >
                        </div>
                        <div class="col col-sm-4">
                            <button class="btn btn-info"  ng-click="vm.findUser(vm.userField)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <form name="searchUserByTimeForm" class="row">
                        <div class="col col-sm-4">
                            <input type="date" class="form-control" ng-model="vm.fromField" required>
                        </div>
                        <div class="col col-sm-4">
                            <input type="date" class="form-control" ng-model="vm.toField" required>
                        </div>
                        <div class="col col-sm-4">
                            <button class="btn btn-info" ng-disabled="searchUserByTimeForm.$invalid" ng-click="vm.findUserByTime(vm.fromField, vm.toField)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
                <div class="users-list">
                    <div ng-if="vm.userData.users.users.length===0"><h2 class="text-center">No Users Found</h2></div>

                    <div ng-if="vm.userData.users.users.length>0">
                        <h2 class="text-center">Users</h2>
                        <table id="users-list" class="display responsive nowrap table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Country</th>
                                <th>Full Address</th>
                                <th>Mobile Number</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th>Email</th>
                                <th>Joined Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr ng-repeat="user in vm.userData.users.users">
                                <td>{{user.first_name}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.country}}</td>
                                <td>{{user.full_address}}</td>
                                <td>{{user.mobile_number}}</td>
                                <td>{{user.phone_number}}</td>
                                <td>
                                    <select ng-model="user.status" class="form-control">
                                        <option>Active</option>
                                        <option>Pending</option>
                                        <option>In Process</option>
                                        <option>Block</option>
                                    </select>
                                </td>
                                <td>{{user.email}}</td>
                                <td>{{user.joined_date}}</td>
                                <td><button class="btn btn-primary btn-sm" ng-click="vm.updateUser(user.id, user.status)">Update</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <ul class="pagination pagination-lg">
                                <li ng-repeat="i in vm.userPages"><span><a class="cursor-pointer" ng-click="vm.getPages($index)">{{$index+1}}</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
