/* Image Studio */
.caman-canvas{
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}
div#image-studio{
  height: 100%;
  width: 100%;
  //visibility: hidden;
  //position: relative;
  //padding: 2.65% 0;
  overflow: scroll;
  //z-index: 1000;
  border: 3px solid blue;
  div.toolbar{
    position: absolute;
    left: -55px;
    top: 50%;
    margin-top: -111px;
    .custom-svg-icon {
      //opacity: 0.6;
      transition: opacity 0.8s;
      cursor: pointer;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      padding: 10px 8px;
      height: 36px;
      width: 36px;
      display: flex;
      margin-bottom: 11px;
      object, img{
        height: 100%;
      }
    }
    .custom-svg-icon:hover{
      opacity: 1;
    }
    .custom-svg-icon.gray-border-none{
      padding: 9px 10px 9px;
    }
    .custom-svg-icon.gray-flip-v{
      padding: 7px 10px;
      transform: rotate(270deg);
    }
    .custom-svg-icon.gray-flip-h{
      padding: 7px 9px;
    }
    .custom-svg-icon.gray-rotate-r{
      padding: 9px 8px;
      object, img{
        transform: rotate(90deg);
      }
    }
    .custom-svg-icon.gray-rotate-l{
      padding: 9px 9px;
      object, img{
        transform: scaleY(-1) rotate(-90deg);
      }
    }
  }
  div.element{
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(204, 204, 204);
    //box-shadow: 0px 0px 10px 0px rgba(229, 229, 229, 0.4);
    box-shadow: 0px 0px 10px 1px rgba(229, 229, 229, 0.9);
    position: relative;

    // fixed aspect ratio issue
    // through JS :P

  }
  div.zoomBar{
    position: absolute;
    height: 100%;
    right: -39px;
    width: 20px;
    padding: 19% 0;
    top: 0;
    .slider{
      transition: opacity 0.8s;
      opacity: 0.8;
      position: relative;
      height: 100%;
      .slider-track{
        width: 6px;
      }
      .slider-selection{
        top: 0%;
        height: 15%;
        width: 6px;
        background: $slider-up-bkg-color;
      }
      .slider-track-high{
        bottom: 0px;
        width: 6px;
        height: 85%;
        background: $slider-down-bkg-color;
      }
      .slider-handle{
        top: 15%;
        width: 10px;
        height: 10px;
        border: 5px solid $slider-handler-bkg-color;
        padding: 5px;
        margin-left: -7px;
        background-color: $slider-handler-color;
        background-image: none;
      }
      .slider-handle:hover{
        border: 5px solid $btn-bkg-color !important;
      }
      .slider-handle:active{
        border: 5px solid $btn-bkg-color !important;
      }
      .tooltip{
        display: none;
      }
    }
    .slider:hover{
      opacity:1;
    }
  }
  div.editor{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    transition: width,height 0.5s;
    position: relative;
    #selected-image{
      //height: 100%;
      //width: 100%;
      //max-width: 100%;
    }
    //.canvas-container{
    //  height: 100% !important;
    //  width: 100% !important;
    //}
    //canvas{
    //  height: 100%;
    //  width: 100%;
    //}
    .cropper-view-box{
      outline: none;
    }
  }
}