.orders{
  .order-status{
    .row{
      div{
        border:1px solid lightblue;
        padding:10px;
        margin:10px;
        height:150px;
        background: lightblue;
      }
    }
  }
}

.order-details{

}
.box-div{
  div{
    border:1px solid lightblue;
    padding:10px;
    margin:10px;
    height:150px;
    background: lightblue;
  }

}