.users{
  .users-list{
    padding:40px 0;
  }
}

.chart-wrapper{
  height: 350px;
  .chart{
    svg{
      left: 50%;
      position: absolute;
      width: 500px;
      height: 300px;
      transform: translate(-50%, 0);
      .ct-grids{
        line{
          stroke: #9b9b9b;
        }
      }
      .ct-series{
        path{
          stroke: lightblue !important;
          stroke-width:2px;
        }
        line{
          stroke: #5fdfe4;
        }
      }
      .ct-label{
        color: #9b9b9b;
      }
    }
  }
}