<div class="main-header" ng-controller="authCtrl as vm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--<ul class=" navbar-left">-->

                <!--</ul>-->
                <!--<div class="div-center">-->

                <!--</div>-->
                <ul class="navbar-nav navbar-right">
                    <li ng-if="user">
                        <a class="btn" ng-click="vm.logout()">Log out</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>




