<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="Dashboard">
                Dashboard
            </a>
        </li>
        <li>
            <a ui-sref="Dashboard.Users">Users</a>
        </li>
        <li>
            <a ui-sref="Dashboard.Orders">Orders</a>
        </li>
        <li>
            <a ui-sref="Dashboard.Analytics">Analytics</a>
        </li>
        <li>
            <a href="#">Add Media</a>
        </li>
        <!--<li>-->
            <!--<a href="#">Services</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">Contact</a>-->
        <!--</li>-->
    </ul>
</div>
